<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/index.css">

    <title>Создать оборудование</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="table__center">
    <div class="table__center__inner">
        <form method="post" action="/equipments/create">
            <label for="text">Введите название оборудования</label>
            <input name="name" type="text" id="text">
            <button>Сохранить</button>
        </form>
    </div>
</div>


</body>
</html>