<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <title>Касса</title>
    <link rel="stylesheet" href="/styles/css/product.css">
    <link rel="stylesheet" href="/styles/css/index.css">

</head>
<body>
    <div th:insert="~{fragments/menu :: #nav-menu}"></div>

    <div class="head">
        <div class="button">
            <a class="button__link" th:href="'/clients/' + ${product.user.id}">Назад</a>
        </div>
    </div>

    <div class="body__product">
        <div class="wrapper">
            <div class="one">
                <p th:text="${product.condit}"></p>
                <p>Собственник: <span th:text="${product.user.name} + ' ' + ${product.user.lastName}"></span></p>
                <p>Название: <span th:text="${product.name}"></span></p>
                <p>Заводской номер: <span th:text="${product.number}"></span></p>
                <p>Адрес: <span th:text="${product.address}"></span></p>
                <form th:action="'/clients/'+ ${product.user.id} + '/product/' + ${product.id} + '/edit'" method="get">
                    <button type="submit">Редактировать</button>
                </form>
                <form th:action="'/clients/'+ ${product.user.id} + '/product/' + ${product.id} + '/changeclient'" method="get">
                    <button type="submit">Сменить собственника</button>
                </form>    </div>
            <div class="two">
                <div th:if="${product.maintenance} != null">
                    <p>Тех обслуживание</p>
                    <p>Дата начала: <span th:text="${product.maintenance.dateStart}"></span></p>
                    <p>Дата окончания: <span th:text="${product.maintenance.dayEnd}"></span></p>
                    <p>Тариф: <span th:text="${product.maintenance.name}"></span></p>

                    <div th:each="trip : ${product.maintenance.trips}">
                        <span>Поездка номер: </span>
                        <a th:href="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/maintenance/' + ${product.maintenance.id}+ '/trip/' + ${trip.id}">
                            <span th:text="${trip.name}"></span></a>
                        <span th:if="${trip.dateTrip} != null">Дата: <span th:text="${trip.dateTrip}"></span></span>
                    </div>
                    <br>
                    <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/maintenance/' + ${product.maintenance.id} + '/edit'">
                        <button type="submit">Редактировать дату техобслуживание</button>
                    </form>
                    <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/maintenance/' + ${product.maintenance.id} + '/edit/tariff'">
                        <button type="submit">Изменить тариф тех обслуживания</button>
                    </form>
                    <form method="post" th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/maintenance/' + ${product.maintenance.id} + '/delete'">
                        <button type="submit">Удалить</button>
                    </form>

                </div>
                <div th:if="${product.maintenance} == null">
                    <p>Тех обслуживание</p>
                    <p>Дата начала: </p>
                    <p>Дата окончания: </p>
                    <p>Тариф: </p>
                    <p>Срок: </p>
                    <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/maintenance'">
                        <button type="submit"> Создать тех обслуживание</button>
                    </form>
                </div>
            </div>
            <div class="three">
                <div th:if="${product.ofd} != null">
                    <p>ОФД</p>
                    <p>Логин: <span th:text="${product.ofd.contact}"></span></p>
                    <p>Пароль: <span th:text="${product.ofd.pass}"></span></p>
                    <p>Дата начала: <span th:text="${product.ofd.dateStart}"></span></p>
                    <p>Дата окончания: <span th:text="${product.ofd.dayEnd}"></span></p>
                    <p th:if="${product.ofd} != null">Тариф: <span th:text="${product.ofd.days}"></span></p>
                    <p th:if="${product.ofd} != null">Оператор: <span th:text="${product.ofd.operator}"></span></p>
                    <form th:action="'/clients/'+ ${product.user.id} + '/product/' + ${product.id} + '/ofd/' + ${product.ofd.id} + '/edit'" method="get">
                        <button type="submit">Редактировать ОФД</button>
                    </form>
                    <form th:action="'/clients/'+ ${product.user.id} + '/product/' + ${product.id} + '/ofd/' + ${product.ofd.id} + '/delete'" method="post">
                        <button type="submit">Удалить ОФД</button>
                    </form>
                </div>
                <div th:if="${product.ofd} == null">
                    <p>ОФД</p>
                    <p>Логин: </p>
                    <p>Пароль: </p>
                    <p>Дата начала: </p>
                    <p>Дата окончания: </p>
                    <p>Тариф: </p>
                    <p>Оператор: </p>
                    <form th:action="'/clients/'+ ${product.user.id} + '/product/' + ${product.id} + '/ofd'" method="get">
                        <button type="submit">Добавить ОФД</button>
                    </form>
                </div>
            </div>
            <div class="four">
                <div th:if="${product.lk} != null">
                    <p>Личный кабинет</p>
                    <p>Логин: <span th:text="${product.lk.contact}"></span></p>
                    <p>Пароль: <span th:text="${product.lk.pass}"></span></p>
                    <p>Код администратора: <span th:text="${product.lk.codeAdministrator}"></span></p>
                    <p>Код сотрудника: <span th:text="${product.lk.codeEmployee}"></span></p>
                    <p>Электронная почта: <span th:text="${product.lk.linkAddress}"></span></p>
                    <form th:action="'/clients/'+ ${product.user.id} + '/product/' + ${product.id} + '/lk/' + ${product.lk.id} + '/edit'" method="get">
                        <button type="submit">Редактировать личный кабинет</button>
                    </form>
                    <form th:action="'/clients/'+ ${product.user.id} + '/product/' + ${product.id} + '/lk/' + ${product.lk.id} + '/delete'" method="post">
                        <button type="submit">Удалить личный кабинет</button>
                    </form>
                </div>
                <div th:if="${product.lk} == null">
                    <p>Личный кабинет</p>
                    <p>Логин: </p>
                    <p>Пароль: </p>
                    <p>Код администратора: </p>
                    <p>Код сотрудника: </p>
                    <p>Ссылка на личный кабинет: </p>
                    <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/lk'" method="get">
                        <button type="submit">Добавить личный кабинет</button>
                    </form>
                </div>
            </div>
            <div class="five">
                <div th:if="${product.fn} != null">
                    <p>ФН</p>
                    <p>Тариф: <span th:text="${product.fn.dateStart}"></span></p>
                    <p>Дата начала: <span th:text="${product.fn.dateStart}"></span></p>
                    <p>Дата окончания: <span th:text="${product.fn.dayEnd}"></span></p>
                    <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/fn/' + ${product.fn.id} + '/edit'">
                        <button type="submit">Редактировать ФН</button>
                    </form>
                    <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/fn/' + ${product.fn.id} + '/delete'" method="post">
                        <button type="submit">Удалить ФН</button>
                    </form>
                </div>
                <div th:if="${product.fn} == null">
                    <p>ФН</p>
                    <p>Дата начала: </p>
                    <p>Дата окончания: </p>
                    <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/fn'" method="get">
                        <button type="submit">Добавить ФН</button>
                    </form>
                </div>
            </div>
            <div class="six">
                <div class="six__down">
                    <div class="six-four">
                        <p>НДС</p>
                        <div>
                            <p th:text="${product.vat}"></p>
                            <form method="get" th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/addvat'">
                                <button>Изменить НДС</button>

                            </form>
                            <div th:if="${product.vat} != null">
                                <form method="post" th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/deletevat'">
                                    <button>Удалить НДС</button>

                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="six-five">
                        <p>Акцизы</p>
                        <div th:if="${product.excise} == null">
                            <form method="post" th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/addexcise'">
                                <button>Добавить акцизы</button>
                            </form>
                        </div>
                        <div th:if="${product.excise} != null">
                            <p th:text="${product.excise}"></p>
                            <form method="post" th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/deleteexcise'">
                                <button>Удалить акцизы</button>

                            </form>
                        </div>
                    </div>
                    <div class="six-six">
                        <p>Егаис</p>
                        <div th:if="${product.egais} == null">
                            <form method="post" th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/addegais'">
                                <button>Добавить егаис</button>

                            </form>
                        </div>
                        <div th:if="${product.egais} != null">
                            <p th:text="${product.egais}"></p>
                            <form method="post" th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/deleteegais'">
                                <button>Удалить егаис</button>

                            </form>
                        </div>
                    </div>
                    <div class="six-three">
                        <p>Налогооблажение:</p>
                        <div th:if="${product.taxation} != null">
                            <div>

                                <p th:text="${product.taxation}"></p>
                            </div>
                            <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/taxation/'">
                                <button>Редактировать</button>
                            </form>
                            <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/taxation/delete'" method="post">
                                <button>Удалить</button>

                            </form>
                        </div>
                        <div th:if="${product.taxation} == null">
                            <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/taxation'">
                                <button>Добавить налогооблажение</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="seven">
                <div class="seven__inner">
                    <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/addComment'">
                        <textarea name="text" id="" cols="80" rows="3"></textarea>
                        <br>
                        <button>Добавить коментарий</button>
                    </form>
                    <div class="parent">
                        <div th:each="comment : ${product.comments}" >
                            <div class="comment">
                                <span th:text="${comment.dateOfCreated} + ' ' +${comment.user} + ' ' + ${comment.text}"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="eight">
                <div>
                    <div th:if="${product.simCard} != null">
                        <p >Сим-карта: </p>
                        Название: <span th:text="${product.simCard.name}"></span><br>
                        Лицевой счет: <span th:text="${product.simCard.personalAccount}"></span><br>
                        Номер сим-карты: <span th:text="${product.simCard.numberCard}"></span><br>
                        <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/internet/' + ${product.simCard.id} + '/delete'" method="post">
                            <button>Удалить</button>
                        </form>
                        <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/internet/edit'" method="get">
                            <button>Редактировать</button>

                        </form>
                    </div>
                    <div th:if="${product.simCard} == null">
                        <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/internet'" method="get" th:object="${product}">
                            <button>Добавить сим-карту</button>

                        </form>
                    </div>
                </div>

            </div>
            <div class="nine">
                <div th:if="${product.typeOfActivities} != null">
                    <p>Вид деятельности:</p>
                    <div th:each="typeOfActivity : ${product.typeOfActivities}">
                        <p th:text="${typeOfActivity}"></p>
                    </div>
                    <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/typeofactivity'">
                        <button>Изменить вид деятельности</button>

                    </form>
                </div>
            </div>
            <div class="ten">
                <div th:if="${product.productMark} != null">
                    <p>Маркировка:</p>
                    <div th:each="mark : ${product.productMark}">
                        <p th:text="${mark}"></p>
                    </div>
                    <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/productMark'">
                        <button>Изменить маркировку</button>

                    </form>
                </div>
            </div>
            <div class="eleven">
                <div th:if="${product.tasks} != null" th:each="task : ${product.tasks}">
                    <a th:href="'/tasks/' + ${task.id}">
                        <span  th:text="${task.dateOfCreated}"></span>
                    </a>
                    <span th:text="${task.name}"></span>
                    <a th:href="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/task/' + ${task.id} + '/delete'">
                        <span>Удалить</span>
                    </a>
                </div>
                <div>
                    <form th:method="get" th:action="'/clients/'+ ${product.user.id} + '/product/' + ${product.id} + '/addTask'">
                        <button>Добавить задачу</button>
                    </form>
                </div>
                <div>
                    <form method="get" th:action="'/clients/'+ ${product.user.id} + '/product/' + ${product.id} + '/task'">
                        <button>Создать задачу</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/javascript/js/sort.js"></script>

</body>
</html>