<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/index.css">
    <title>Админка</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="head">
    <div class="button">
        <a class="button__link" th:href="'/admin/' + ${user.email}">Редактировать профиль</a>
    </div>
    <div class="button">
        <a class="button__link" href="/admin/list">Список сотрудников</a>
    </div>
</div>



<div class="table__center">

    <div th:object="${user}" class="table__center__inner">
        Имя: <span th:text="*{name}"></span><br><br>
        Фамилия: <span th:text="*{lastName}"></span><br><br>
        Отчество: <span th:text="*{patronymic}"></span><br><br>
        Почта: <span th:text="*{email}"></span><br><br>
        Телефон: <span  th:text="*{phoneNumber}"></span><br><br>
    </div>
</div>

</body>
</html>