<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/index.css">

    <title>Список сотрудников</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="head">
    <div class="button">
        <a class="button__link" href="/admin">Вернуться к своему профилю</a>
    </div>
    <div class="button">
        <a class="button__link" href="/admin/create">Создать сотрудника</a>
    </div>
</div>

<div class="table__center">
    <table class="table">
        <tr>
            <td>ФИО</td>
            <td>Почта</td>
            <td>Телефон</td>
            <td>Активность</td>
            <td>Выслать на почту пароль</td>
        </tr>
        <tr th:each="manager : ${managers}">
            <td>
                <a th:href="'/admin/' + ${manager.id} + '/info'">
                    <span th:text="${manager.lastName} + ' ' + ${manager.name} + ' ' + ${manager.patronymic}"></span>
                </a>
            </td>
            <td th:text="${manager.email}"></td>
            <td th:text="${manager.phoneNumber}"></td>
            <td th:text="${manager.active}"></td>
            <td>
                <a th:href="'/admin/' + ${manager.id} + '/pass'">Выслать пароль</a>
            </td>
        </tr>
    </table>

</div>



</body>
</html>