<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/index.css">

    <title>Акт</title>
</head>
<body>
<div class="media" th:insert="~{fragments/menu :: #nav-menu}"></div>
<div class="head media">
    <div class="button">
        <a class="button__link" th:href="'/clients/' + ${request.client.id} + '/request/' + ${request.id}">Назад</a>
    </div>
</div>

<p>Кассовые Технологии 22-92-08</p>
<p>АКТ  ПЕРЕДАЧИ/ПРИЕМА  ОБОРУДОВАНИЯ В РЕМОНТ №</p>
<p>
    ИП/ООО <br>
    Оборудование (наименование): <br>
    Заводской номер : <br>
    Состояние оборудования: <br>
    Комплектация: <br>
    Описание неисправности со слов клиента(«НЕ РАБОТАЕТ» не  рассматривается) : <br>
    Контактное лицо (Ф.И.О.) <br>
    Номер контактного телефона (Обязательно!!!!)                                                E-mail____________________ <br>
    <span>Стоимость диагностики 700 руб.   Клиент предупреждён о стоимости диагностики. <br>
    Диагностика оплачивается в том случае,  если оборудование не на гарантии или выявленная неисправность не является гарантийным случаем. <br>
    Если в результате диагностики необходимо произвести ремонт  и  клиент соглашается с его проведением и стоимостью, то в этом случае диагностика не оплачивается.</span> <br>
    <br>
    Сдал:  ___________________            Подпись: ___________________    Дата: ____________20       г. <br>
    МП<br>
    <br>
    Принял сотрудник
    ФИО________________ Подпись: ___________________    Дата: ____________20       г. <br>
    МП <br>
    <br>
    <br>
    Результат диагностики ( причина неисправности) :<br>
    <hr>
    <table class="table">
        <tr>
            <td colspan="5">
                <p>Выполненные работы</p>
            </td>
        </tr>
        <tr>
            <td>№</td>
            <td>Наименование</td>
            <td>Количество</td>
            <td>Цена за ед.</td>
            <td>Сумма</td>
        </tr>
        <tr>
            <td>
                <p>1</p>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <p>2</p>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <p>3</p>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <p>4</p>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4">
                <p>Итого к оплате:</p>
            </td>
            <td></td>

        </tr>
    </table>
    <p> Рекомендации:_______________________________________________________________________</p>
    <p>Работы проведены в полном объёме. Заказчик претензий по объему, качеству и срокам оказания услуг не имеет.</p>
<!--    <div style="display: grid; grid-template-columns: 1fr 1fr;">-->
    <div style="display:flex;">
        <div>Исполнитель_________________________________</div>
        <div>Заказчик_________________________________</div>
    </div>
    <br>
    <div style="display:flex; justify-content: space-evenly;">
        <div>МП</div>
        <div>МП</div>
    </div>
</p>

</body>
</html>