<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/index.css">

    <title>Описание</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div class="table__center">

<form th:object="${request}" method="post" th:action="'/request/' + ${request.id} + '/productDescription'">
    <input style="width: 600px; height: 20px;" type="text" name="productDescription" th:value="*{productDescription}">
    <button>Сохранить</button>
</form>
</div>

</body>
</html>