<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${request}" th:method="POST" th:action="'/request/' + ${requestid} + '/addetsp'" >

    <div th:each="etsp : ${etsps}">
        <input type="radio"  th:value="${etsp}" checked th:text="${etsp}" name="etsp">
    </div>

    <input type="submit" value="Добавить"><br><br>
</form>

</body>
</html>