<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Создать заявку</h3>

<div>
    <form th:method="POST" th:action="'/clients/' + ${clientid} + '/request'" th:object="${request}">

        <label for="topic">Тема: </label>
        <select id="topic" th:field="*{topic}">
             <option th:each="topic : ${topics}"   th:value="${topic.name}" th:text="${topic.name}"></option>
        </select>

        <div th:each="etsp : ${etsps}">
            <input type="radio"  th:value="${etsp}" th:text="${etsp}" th:field="*{etsp}" >
        </div>

        <textarea name="comment"></textarea>
        <input type="submit" value="Добавить"><br><br>
    </form>

</div>

</body>
</html>