<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/index.css">
    <link rel="stylesheet" href="/styles/css/request.css">
    <title>Заявка</title>
</head>
<body>
    <div th:insert="~{fragments/menu :: #nav-menu}"></div>
    <div class="head">
        <div class="button">
            <a class="button__link" href="/requests/true">Перейти к списку заявок</a>
        </div>
        <div class="button" th:if="${request.client}">
            <a class="button__link" th:href="'/clients/' + ${request.client.id}">Перейти к клиенту</a>
        </div>
        <div class="button">
            <a class="button__link" th:href="'/remember/' + ${request.id}">Распечатать памятку для регистрации</a>
        </div>
        <div class="button">
            <a class="button__link" th:href="'/act/'  + ${request.id}">Распечатать акт приема/передачи оборудования в ремонт</a>
        </div>
    </div>
    <div class="table__center">
        <div class="table__center__inner">
            <table class="table">
                <tr>
                    <td>Дата создания заявки:</td>
                    <td>Тема:</td>
                    <td>Электронно цифрова подпись:</td>
                    <td>Клиент</td>
                    <td>Касса</td>
                    <td>Контактные данные</td>
                    <td>Состояние оборудования</td>
                    <td>Комплектация</td>
                    <td>Описание неисправности</td>
                    <td>Дата закрытия заявки</td>
                </tr>
                <tr>
                    <td>
                        <div class="date">
                            <p th:text="${request.dateOfCreated}"></p>
                        </div>
                    </td>
                    <td>
                        <p th:text="${request.topic}"></p>
                        <form th:action="'/request/' + ${request.id} + '/topic'">
                            <button>Изменить тему заявки</button>

                        </form>
                    </td>
                    <td>
                        <div th:if="${request.etsp} != null">
                            <p th:text="${request.etsp}"></p>
                            <form method="get" th:action="'/request/' + ${request.id} + '/addetsp'">
                                <button>Изменить ЕЦП</button>

                            </form>
                        </div>
                        <div th:if="${request.etsp} == null">
                            <form method="get" th:action="'/request/' + ${request.id} + '/addetsp'">
                                <button>Добавить ЕЦП</button>

                            </form>
                        </div>
                    </td>
                    <td>
                        <div th:if="${request.client} != null">
                            <a th:href="'/clients/' + ${request.client.id}">
                                <span th:text="${request.client.lastName}"></span>
                            </a>
                            <form method="get" th:action="'/request/' + ${request.id} + '/addClient'">
                                <button>Изменить клиента</button>

                            </form>
                        </div>
                        <div th:if="${request.client} == null">
                            <form method="get" th:action="'/request/' + ${request.id} + '/addClient'">
                                <button>Добавить клиента</button>

                            </form>
                            <form method="get" th:action="'/request/' + ${request.id} + '/clients/create'">
                                <button>Создать</button>
                            </form>
                        </div>
                    </td>
                    <td>
                        <div th:if="${request.client} != null">
                            <div th:if="${request.product} != null">
                                <a th:href="'/clients/' + ${request.client.id} + '/product/' + ${request.product.id}">
                                    <span th:text="${request.product.name}"></span>
                                </a>
                                <form method="get" th:action="'/request/' + ${request.id} + '/clients/' + ${request.client.id} + '/products/addProduct'">
                                    <button>Изменить кассу</button>

                                </form>
                            </div>
                            <div th:if="${request.product} == null">
                                <form method="get" th:action="'/request/' + ${request.id} + '/clients/' + ${request.client.id} + '/products/addProduct'">
                                    <button>Добавить кассу</button>

                                </form>
                                <form method="get" th:action="'/request/' + ${request.id} + '/clients/' + ${request.client.id} + '/products/create'">
                                    <button>Создать</button>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div th:if="${request.contactPeoples}" th:each="man : ${request.contactPeoples}">
                            <a th:href="'/request/' + ${request.id} + '/contactPeople/' + ${man.id}">
                                <span th:text="${man.nameOfContact}"></span>
                            </a>
                            <br>
                            <span th:text="${man.phoneOfContact}"></span>
                        </div>
                        <div>
                            <form method="get" th:action="'/request/' + ${request.id} + '/contactPeople/'">
                                <button>Добавить контактные данные</button>

                            </form>
                        </div>
                    </td>
                    <td>
                        <div th:if="${request.productCondition} != null">
                            <span th:text="${request.productCondition}"></span>
                            <a th:href="'/request/' + ${request.id} + '/productCondition'">Изменить состояние</a>
                        </div>
                        <div th:if="${request.productCondition} == null">
                            <a th:href="'/request/' + ${request.id} + '/productCondition'">Добавить состояние</a>
                        </div>
                    </td>
                    <td>
                        <div th:if="${request.productEquipments} != null" >
                            <div th:each="productEquipment : ${request.productEquipments}">
                                <span th:text="${productEquipment}"></span><br>
                            </div>
                            <a th:href="'/request/' + ${request.id} + '/productEquipment'">Изменить комплектацию</a>
                        </div>
                        <div th:if="${request.productEquipments} == null">
                            <a th:href="'/request/' + ${request.id} + '/productEquipment'">Добавить комплектацию</a>
                        </div>
                    </td>
                    <td>
                        <div th:if="${request.productDescription} != null">
                            <span th:text="${request.productDescription}"></span>
                            <a th:href="'/request/' + ${request.id} + '/productDescription'">Изменить описание неисправности</a>
                        </div>
                        <div th:if="${request.productDescription} == null">
                            <a th:href="'/request/' + ${request.id} + '/productDescription'">Добавить описание неисправности</a>
                        </div>
                    </td>
                    <td>
                        <div th:if="${request.active} == false">
                            <p>Дата закрытия: <span th:text="${request.dateOfEnd}"></span></p>
                        </div>
                        <div th:if="${request.active} == true">
                            <form method="post" th:action="'/request/' + ${request.id} + '/closerequest'">
                                <button>Закрыть заявку</button>

                            </form>
                        </div>
                    </td>
                </tr>
                <tr >
                    <td colspan="10">
                        <div>
                            <form method="post" th:action="'/request/' + ${request.id} + '/addcomment'">
                                <textarea name="text"></textarea>
                                <button>Добавить новый коментарий</button>

                            </form>
                        </div>
                        <div class="parent">
                            <div th:each="comment : ${request.comments}" >
                                <div class="comment">
                                    <span th:text="${comment.dateOfCreated} + ' ' + ${comment.user} + ' ' + ${comment.text}"></span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script type="text/javascript" src="/javascript/js/sort.js"></script>
    <script type="text/javascript" src="/javascript/js/date.js"></script>

</body>
</html>