<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/index.css">

    <title>Title</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<h3>Создать нового клиента</h3>
<div>
    <form th:method="POST" th:action="'/request/' + ${requestid} + '/clients/create'" th:object="${user}" >
        Фамилия<input type="text" name="lastName"><br><br>
        Имя<input type="text" name="name"><br><br>
        Отчество<input type="text" name="patronymic"><br><br>
        Название организации<input type="text" name="nameOfOrganization"><br><br>
        Почта<input type="email" name="email"><br><br>
        Телефон<input type="text" name="phoneNumber"><br><br>

        <div>
            <label for="organization-select">Форма собственности: </label>
            <select id="organization-select" name="typeOfOrganization">
                <option th:each="organ : ${organizations}" th:value="${organ.id}" th:text="${organ.name}"></option>
            </select>
        </div>

        <br><br>
        ИНН<input type="text" name="inn"><br><br>
        ОГРН<input type="text" name="ogrn"><br><br>
        КПП<input type="text" name="kpp"><br><br>

        <input type="submit" value="Добавить клиента"><br><br>
    </form>
</div>

</body>
</html>