<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/index.css">
    <link rel="stylesheet" href="/styles/css/request.css">
    <title>Заявки</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="head">
        <div class="button">
            <a class="button__link" href="/request">Создать заявку</a>
        </div>
        <div class="button">
            <a class="button__link" href="/requests/true">Активные заявки</a>
        </div>
        <div class="button">
            <a class="button__link" href="/requests/false">Не активные заявки</a>
        </div>
        <div class="button">
            <a class="button__link" href="/requests/all">Все заявки заявки</a>
        </div>
</div>

<div class="table__center">
    <div class="table__center__inner">
        <table class="table">
            <tr>
                <td>Дата создания заявки:</td>
                <td>Тема:</td>
                <td>Электронно цифрова подпись:</td>
                <td>Клиент</td>
                <td>Контактное лицо</td>
                <td>Дата закрытия заявки</td>
            </tr>
            <tr th:each="request : ${requests}">
                <td>
                    <a th:href="'/request/' + ${request.id}">
                        <div class="date">
                            <span th:text="${request.dateOfCreated}"></span>
                        </div>
                    </a>
                </td>
                <td>
                    <p th:text="${request.topic}"></p>
                </td>
                <td>
                    <div th:if="${request.etsp} != null">
                        <p th:text="${request.etsp}"></p>
                    </div>
                </td>
                <td>
                    <div th:if="${request.client} != null">
                        <p th:text="${request.client.lastName}"></p>
                    </div>
                </td>
                <td>
                    <div th:if="!${request.contactPeoples}" th:each="man : ${request.contactPeoples}" >
                        <p th:text="${man.nameOfContact}"></p>
                        <p th:text="${man.phoneOfContact}"></p>
                    </div>
                </td>
                <td>
                    <div th:if="${request.active} == false">
                        <p>Дата закрытия: <span th:text="${request.dateOfEnd}"></span></p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript" src="/javascript/js/date.js"></script>

</body>
</html>