<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <title>Новый клиент</title>
    <link rel="stylesheet" href="/styles/css/index.css">

</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>


<div class="table__center">

    <form th:method="POST" th:action="@{/clients/create}" th:object="${user}" >
        Фамилия<input type="text" th:field="*{lastName}"><br><br>
        Имя<input type="text" th:field="*{name}"><br><br>
        Отчество<input type="text" th:field="*{patronymic}"><br><br>
        Название организации<input type="text" th:field="*{nameOfOrganization}"><br><br>
        Почта<input type="email" th:field="*{email}"><br><br>
        Телефон<input type="text" th:field="*{phoneNumber}"><br><br>

        <!--    <div>-->
        <label for="organization-select">Форма собственности: </label>
        <select id="organization-select" th:field="*{typeOfOrganization}">
            <option th:each="organ : ${organizations}" th:value="${organ.name}" th:text="${organ.name}"></option>
        </select>
        <!--    </div>-->

        <br><br>
        ИНН<input type="text" th:field="*{inn}"><br><br>
        ОГРН<input type="text" th:field="*{ogrn}"><br><br>
        КПП<input type="text" th:field="*{kpp}"><br><br>

        <button>Добавить клиента</button>

    </form>
</div>
</body>
</html>