.header{
    display: grid;
    grid-template-columns:70% 30%;
    background-color: #8ec8d4;
    padding: 1em;
    /* grid-column-gap: 1em; */
}
    /*
.body{
    display: grid;
    grid-template-columns:70% 30%;
    background-color: #e1e6f2;
    padding: 1em;
grid-column-gap: 1em;
}
*/

.product{
  border:
    3px       /* width */
    solid     /* style */
    #FF0000;  /* color */
}