<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:form="http://www.springframework.org/tags/form">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/index.css">

    <title>Создать ФН</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="table__center">
    <div class="table__center__inner">
        <form th:action="'/fill/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/fn/'" th:object="${fn}" method="post">
            Дата начала: <input type="date" name="dateStart" ><br>
            Дата окончания: <input type="date" name="dayEnd"><br>
            <div th:if="!${#lists.isEmpty(tariffs)}">
                <label for="ofd-tariff-edit">Тариф: </label>
                <select id="ofd-tariff-edit"  name="days">
                    <option th:each="tar : ${tariffs}" th:value="${tar.days}" th:text="${tar.days}"></option>
                </select>
            </div>
            <button>Далее</button>
        </form>
    </div>
</div>
</body>
</html>