<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/index.css">
    <title>Справочник</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<a href="/descriptions">Кассы</a><br>
<a href="/operator">Операторы</a><br>
<a href="/tariffs">Тарифы</a><br>
<a href="/topics">Задачи</a><br>
<a href="/etsp">ЕЦП</a><br>
<a href="/organization">Тип организации</a><br>
<a href="/internets">Интернет</a><br>
<a href="/maintenanceTariff">Тарифы тех обслуживания</a><br>
<a href="/typeofactivity">Виды деятельности</a><br>
<a href="/taxations">Налогооблажение</a><br>
<a href="/topics">Темы заявок</a><br>

</body>
</html>