<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/index.css">
    <title>Изменить клиента</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="table__center">
    <div class="table__center__inner">
        <p>Выбирите нового собственника</p>
        <form th:object="${product}" method="post" th:action="'/clients/'+ ${product.user.id} + '/product/' + ${product.id} + '/changeclient'">
            <div th:each="client : ${clients}" >
                <input type="radio" th:field="*{user.id}" th:value="${client.id}" th:text="${client.name} + ' ' + ${client.lastName}" >
            </div>

            <button>Изменить</button>
        </form>
    </div>
</div>



</body>
</html>