<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/index.css">

    <title>Задача</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="table__center">

<form method="post" th:action="'/tasks/' + ${task.id} + '/user/' + ${task.user.id} + '/product'">
  <div>
    <label for="product"> Кассы: </label>
    <select name="id" id="product">
      <option  th:each="product : ${task.user.products}" th:value="${product.id}" th:selected="${task.product} == ${product}" th:text="${product.description.name}"></option>
    </select>
  </div>
    <button>Сохранить</button>
</form>
</div>

</body>
</html>