<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/index.css">

    <title>Выбрать налогооблажение</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="table__center">
    <div class="table__center__inner">
        <div>
            <form method="post" th:action="'/clients/' + ${clientid} + '/product/' + ${productId} + '/taxation/'">
                <div th:each="type : ${taxations}">
                    <input type="radio" name="name" th:value="${type.name}"  th:text="${type.name}" >
                </div>
                <button>Добавить</button>

            </form>
        </div>
    </div>
</div>


</body>
</html>