<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div>
        <form method="post" th:action="'/clients/' + ${clientid} + '/product/' + ${productId} + '/taxation/'">
            <div th:each="type : ${taxations}">
                <input type="radio" name="name" th:value="${type.name}"  th:text="${type.name}" >
            </div>
            <input type="submit" value="Добавить">
        </form>
    </div>
</body>
</html>