<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" th:action="'/tasks/' + ${taskid} + '/adduser'">
    <div>
        <label for="clients"> Клиенты: </label>
        <select name="id" id="clients">
            <option  th:each="client : ${clients}" th:value="${client.id}" th:text="${client.name}"></option>
        </select>
    </div>
    <input type="submit" value="Сохранить">
</form>

</body>
</html>