<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:each="user : ${clients}">
    <td th:text="${user.lastName}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.patronymic}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.phoneNumber}"></td>
    <td th:text="${user.requisite.organization.name}"></td>
    <td th:text="${user.requisite.inn}"></td>
    <td th:text="${user.requisite.ogrn}"></td>
    <td th:text="${user.requisite.kpp}"></td>
    <div th:each="comment : ${user.comments}">
        <td th:text="${comment.text}"></td>
    </div>
    <td><a th:href="'/clients/' + ${user.id}">Подробнее</a></td>
</div>
<br>
<a href="/clients/create">Создать клиента</a>
<a href="/">На главный экран</a>
</body>
</html>