<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Создать техобслуживание</h3>
        <div>
            <form th:object="${maintenance}" th:method="POST" th:action="'/clients/' + ${clientid} + '/product/' + ${productId} + '/maintenance'"  >
                Дата начала: <input type="date" th:field="*{dateStart}"><br><br>
                Дата окончания: <input type="date" th:field="*{dayEnd}"><br><br>
                <div th:if="!${#lists.isEmpty(maintenancetariffs)}">
                    <label for="maintenancetariff-select">Тариф: </label>
                    <select id="maintenancetariff-select"  name="id">
                        <option th:each="main : ${maintenancetariffs}" th:value="${main.id}" th:text="${main.name}"></option>
                    </select>
                </div>
                <input type="submit" value="Добавить"><br><br>
            </form>
        </div>
    </div>
</body>
</html>