<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Создать нового клиента</h3>
<form th:method="POST" th:action="@{/clients/create}" th:object="${user}" >
    Фамилия<input type="text" th:field="*{lastName}"><br><br>
    Имя<input type="text" th:field="*{name}"><br><br>
    Отчество<input type="text" th:field="*{patronymic}"><br><br>
    Почта<input type="email" th:field="*{email}"><br><br>
    Телефон<input type="text" th:field="*{phoneNumber}"><br><br>

    <div th:if="!${#lists.isEmpty(organizations)}">
        <label for="organization-select">Форма собственности: </label>
        <select id="organization-select" th:field="*{requisite.organization.id}">
            <option th:each="organ : ${organizations}" th:value="${organ.id}" th:text="${organ.name}"></option>
        </select>
    </div>
    <a th:href="'/organization/create/clients'"> Создать новую форму</a>

    <br><br>
    ИНН<input type="text" th:field="*{requisite.inn}"><br><br>
    ОГРН<input type="text" th:field="*{requisite.ogrn}"><br><br>
    КПП<input type="text" th:field="*{requisite.kpp}"><br><br>

    <input type="submit" value="Добавить клиента"><br><br>
</form>

</body>
</html>