<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Создать техобслуживание</h3>
<form th:method="POST" th:action="'/clients/' + ${userId} + '/product/' + ${productId}" th:object="${maintenance}" >
    <p>Личный кабинет:</p>
    Тариф<input type="text" th:field="*{name}"><br><br>
    Дата окончания<input type="date" th:field="*{limitation}"><br><br>

    <input type="submit" value="Добавить"><br><br>

</form>

</body>
</html>