<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:form="http://www.springframework.org/tags/form">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:if="${lkid} != null">
    <form th:action="'/clients/' + ${clientid} + '/product/' + ${productid} + '/lk/' + ${lkid} + '/edit'" th:object="${lk}" th:method="post">
        Контакты: <input type="text" th:field="*{contact}" th:value="*{contact}"><br>
        Пароль: <input type="text" th:field="*{pass}" th:value="*{pass}"><br>
        Код администратора: <input type="text" th:field="*{codeAdministrator}" th:value="*{codeAdministrator}"><br>
        Код администратора: <input type="text" th:field="*{codeEmployee}" th:value="*{codeEmployee}"><br>
        Ссылка на кабинет: <input type="text" th:field="*{linkAddress}" th:value="*{linkAddress}"><br>
        <input type="submit" value="Добавить"><br><br>
    </form>
</div>
<div th:if="${lkid} == null">
    <form th:action="'/clients/' + ${clientid} + '/product/' + ${productid} + '/lk'" th:object="${lk}" th:method="post">
        Контакты: <input type="text" th:field="*{contact}" th:value="*{contact}"><br>
        Пароль: <input type="text" th:field="*{pass}" th:value="*{pass}"><br>
        Код администратора: <input type="text" th:field="*{codeAdministrator}" th:value="*{codeAdministrator}"><br>
        Код администратора: <input type="text" th:field="*{codeEmployee}" th:value="*{codeEmployee}"><br>
        Ссылка на кабинет: <input type="text" th:field="*{linkAddress}" th:value="*{linkAddress}"><br>
        <input type="submit" value="Добавить"><br><br>
    </form>
</div>



</body>
</html>