<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Создать нового клиента</h3>
<form th:method="POST" th:action="@{/clients/create}" th:object="${user}" >
    Фамилия<input type="text" th:field="*{lastName}"><br><br>
    Имя<input type="text" th:field="*{name}"><br><br>
    Отчество<input type="text" th:field="*{patronymic}"><br><br>
    Почта<input type="email" th:field="*{email}"><br><br>
    Телефон<input type="tel" th:field="*{phoneNumber}"><br><br>
    Форма собственности<input type="text" th:field="*{requisite.organization.name}"><br><br>
    ИНН<input type="number" th:field="*{requisite.inn}"><br><br>
    ОГРН<input type="number" th:field="*{requisite.ogrn}"><br><br>
    КПП<input type="number" th:field="*{requisite.kpp}"><br><br>

    <input type="submit" value="Добавить клиента"><br><br>
</form>

</body>
</html>