<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:form="http://www.springframework.org/tags/form">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/index.css">

    <title>Создать ОФД</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>


<div class="table__center">
    <div class="table__center__inner">
        <form th:action="'/clients/' + ${clientid} + '/product/' + ${productid} + '/ofd/' + ${ofd.id} + '/edit'" th:object="${ofd}" th:method="post">
            <input type="hidden" th:field="*{id}" th:value="*{id}">
            Контакты: <input type="text" th:field="*{contact}" th:value="*{contact}"><br>
            Пароль: <input type="text" th:field="*{pass}" th:value="*{pass}"><br>
            <div th:if="!${#lists.isEmpty(tariffs)}">
                <label for="ofd-tariff-edit-select">Тариф: </label>
                <select id="ofd-tariff-edit-select"  th:field="*{days}">
                    <option th:each="tar : ${tariffs}" th:value="${tar.days}" th:selected="*{days}" th:text="${tar.days}"></option>
                </select>
            </div>
            <div th:if="!${#lists.isEmpty(operators)}">
                <label for="ofd-operator-edit-select">Тариф: </label>
                <select id="ofd-operator-edit-select"  th:field="*{operator}">
                    <option th:each="oper : ${operators}" th:value="${oper.name}" th:selected="*{operator}" th:text="${oper.name}"></option>
                </select>
            </div>
            Дата начала: <input type="date" th:field="*{dateStart}"  th:value="*{dateStart}"><br><br>
            Дата окончания: <input type="date" th:field="*{dayEnd}"  th:value="*{dayEnd}"><br><br>
            <button>Добавить</button>

        </form>
    </div>
</div>

</body>
</html>