<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <title>Тип организации</title>
    <link rel="stylesheet" href="/styles/css/index.css">

</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="table__center">

<h3>Создать тип организации</h3>

<div th:if="${clients} != null">
    <form th:method="POST" th:action="'/organization/create/clients'" th:object="${organization}" >
        Название <input type="text" th:field="*{name}"><br><br>

        <button>Добавить</button>
    </form>
</div>


<div th:if="${clients} == null">
    <form th:method="POST" th:action="'/organization/create'" th:object="${organization}" >
        Название <input type="text" th:field="*{name}"><br><br>

        <button>Добавить</button>
    </form>
</div>
</div>

</body>
</html>