<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <title>Тариф</title>
    <link rel="stylesheet" href="/styles/css/index.css">

</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="table__center">

<h3>Создать тариф</h3>


<div th:if="${productid} != null">
    <p>Создатьтариф</p>
    <form th:method="POST" th:action="'/tariffs/create/clients/' + ${clientid} + '/product/' + ${productid}" th:object="${tariff}" >
        Название <input type="text" th:field="*{days}"><br><br>
        <button>Добавить</button>
    </form>
</div>


<div th:if="${productid} == null">
    <form th:method="POST" th:action="'/tariffs'" th:object="${tariff}" >
        Название <input type="tel" th:field="*{days}"><br><br>

        <button>Добавить</button>
    </form>
</div>
</div>

</body>
</html>