<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Создать оператора</h3>

<div th:if="${productid} != null">
    <form th:method="POST" th:action="'/operator/create/' + ${clientid} + '/product/' + ${productid} + '/ofd'" th:object="${operator}" >
        Название <input type="text" th:field="*{name}" th:value="*{name}"><br><br>

        <input type="submit" value="Добавить"><br><br>
    </form>
</div>
<div th:if="${productid} == null">
    <form th:method="POST" th:action="'/operator'" th:object="${operator}" >
        Название <input type="text" th:field="*{name}" th:value="*{name}"><br><br>

        <input type="submit" value="Добавить"><br><br>
    </form>
</div>



</body>
</html>