<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/index.css">

    <title>Редактировать поездку</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="table__center">
    <div class="table__center__inner">
        <form th:method="post" th:object="${trip}" th:action="'/clients/' + ${clientid} + '/product/' + ${productId} + '/maintenance/' + ${maintenanceid}+ '/trip/' + ${trip.id}">

            <input type="hidden" th:field="*{id}" th:value="*{id}" readonly>
            <input type="hidden" th:field="*{name}" th:value="*{name}" readonly>
            Дата поездки: <input type="date" th:field="*{dateTrip}" >
            <label for="text">Комментарий</label><br>
            <textarea name="text" id="text" cols="30" rows="10"></textarea>
            <button>Сохранить</button>
        </form>
        <div th:if="${trip.dateTrip} != null">
            <form method="post" th:action="'/clients/' + ${clientid} + '/product/' + ${productId} + '/maintenance/' + ${maintenanceid}+ '/trip/' + ${trip.id} + '/delete'">
                <button>Удалить</button>

            </form>
        </div>
    </div>
</div>



</body>
</html>