<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <form method="post" th:object="${MaintenanceTariff}" th:action="'/clients/' + ${clientid} + '/product/' + ${productId} + '/maintenance/' + ${maintenanceid} + '/edit/tariff'">
        <div>
            <label for="maintenancetariff-edit-select">Тариф: </label>
            <select id="maintenancetariff-edit-select"  name="id">
                <option th:each="main : ${maintenancetariffs}" th:value="${main.id}" th:select="*{name}" th:text="${main.name}"></option>
            </select>
        </div>
        <input type="submit" value="Сохранить">
    </form>
</div>
</body>
</html>