<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:method="POST" th:action="'/clients/' + ${clientid} + '/product/' + ${productId} + '/maintenance/' + ${maintenanceid} + '/edit'" th:object="${maintenance}" >
        Дата начала: <input type="date" th:field="*{dateStart}" th:value="*{dateStart}"><br><br>
        Дата окончания: <input type="date" th:field="*{dayEnd}" th:value="*{dayEnd}"><br><br>
        <input type="submit" value="Добавить"><br><br>
    </form>
</body>
</html>