<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/index.css">
    <link rel="stylesheet" href="/styles/css/popup.css">
    <title>Главная страница</title>

</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div class="body__logo">
    <div class="body__inner">
        <div>
            <img src="/imgs/test.png" alt="Картинка"/>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <div class="body__item bodyButton">
                <a class="logo__link" href="/login">Войти</a>
            </div>
        </div>
    </div>

</div>
<div class="popup_test">
    <div class="popup_content">
        <button class="popup_close">
            <strong>X</strong>
        </button>
        <div>
            <form action="/" class="popup_form">
                <input class="input" type="text">
                <button class="button">Save</button>
            </form>
        </div>
    </div>
</div>
<div class="body__logo">
    <div class="body__inner">
        <div>
            <img class="logo__inner logo_inner_slogan" src="/imgs/slogan.png" alt="Картинка"/>
        </div>
    </div>
</div>









</body>
</html>