<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <title>Клиент</title>
    <link rel="stylesheet" href="/styles/css/index.css">
    <link rel="stylesheet" type="text/css" href="/styles/css/style.css">
    <link rel="stylesheet" type="text/css" href="/styles/css/hidden.css">


</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<a th:href="'/clients'">Назад к списку клиентов</a>
<div class="container">
    <div class="header__client">
        <div class="head">

            <td th:text="${user.requisite.organization.name}"></td>
            <td th:text="${user.lastName}"></td>
            <br>
            <td th:text="${user.phoneNumber}"></td>
            <br>
            <div th:each="comment : ${user.comments}">
                Комментарий: <td th:text="${comment.text}"></td>
            </div>
            <br>

        </div>
        <div class="head">
            <p>ОФД: Касса, дата</p>
            <p>ФН: Касса, дата</p>
            <p>Тариф: дата</p>
        </div>
    </div>
    <div class="body">
        <div>
            <table border="1">
                <tr>
                    <td>Какое-то название</td>
                    <td>Личный кабинет</td>
                    <td>ОФД</td>
                    <td>ФН</td>
                    <td>Техобслуживание</td>
                </tr>
                <tr th:each="product : ${user.products}">
                    <td >
                        <div>
                            <p>Название: <a th:href="'/clients/' + ${user.id} + '/product/' + ${product.id}"><span th:text="${product.description.name}"></span></a> </p>
                            <p>Описание:  <span th:text="${product.description.someDescription}"></span></p>
                            <p>Заводской номер:<span th:text="${product.number}"></span></p>
                            <p>Адрес: <span th:text="${product.address}"></span></p>
                            <form th:action="'/clients/' + ${user.id} + '/product/' + ${product.id} + '/delete'" method="post">
                                <button type="submit">Удалить кассу</button>
                            </form>
                        </div>
                    </td>
                    <td>
                        <div th:if="${product.lk} != null">
                            <p>Контакты: <span th:text="${product.lk.contact}">Контакты</span></p>
                            <p>Пароль: <span th:text="${product.lk.pass}"></span></p>
                            <p>Код администратора: <span th:text="${product.lk.codeAdministrator}"></span></p>
                            <p>Ссылка на кабинет: <span th:text="${product.lk.linkAddress}"></span></p>
                        </div>

                    </td>
                    <td>
                        <div th:if="${product.ofd} != null">
                            <div>
                                <p>Тариф: <span th:text="${product.ofd.tariff.days}"></span></p>
                                <p>Датаначала: <span th:text="${product.ofd.dateStart}">Контакты</span></p>
                                <p>Датаокончания: <span th:text="${product.ofd.dayEnd}"></span></p>
                                <p th:if="${product.ofd.tariff} != null">Тариф: <span th:text="${product.ofd.tariff.days}"></span></p>
                                <p th:if="${product.ofd.operator} != null">Оператор: <span th:text="${product.ofd.operator.name}"></span></p>
                            </div>
                        </div>


                    </td>
                    <td>
                        <!--                    <div th:if="${product.lk} != null">-->
                        <!--                        <p>Контакты: <span th:text="${product.lk.contact}">Контакты</span></p>-->
                        <!--                        <p>Пароль: <span th:text="${product.lk.pass}"></span></p>-->
                        <!--                        <p>Код администратора: <span th:text="${product.lk.codeAdministrator}"></span></p>-->
                        <!--                        <p>Ссылка на кабинет: <span th:text="${product.lk.linkAddress}"></span></p>-->
                        <!--                    </div>-->
                    </td>
                    <td>
                        <!--                    <div th:if="${product.lk} != null">-->
                        <!--                        <p>Контакты: <span th:text="${product.lk.contact}">Контакты</span></p>-->
                        <!--                        <p>Пароль: <span th:text="${product.lk.pass}"></span></p>-->
                        <!--                        <p>Код администратора: <span th:text="${product.lk.codeAdministrator}"></span></p>-->
                        <!--                        <p>Ссылка на кабинет: <span th:text="${product.lk.linkAddress}"></span></p>-->
                        <!--                    </div>-->
                        <div>
                            <form th:action="'/client'" method="get">
                                <button type="submit">Добавить Техобслуживание</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
            <a th:href="'/clients/' + ${user.id} + '/product'">Добавить кассу</a>
        </div>
        <div>
            <table border="1">
                <tr>
                    <td>Дата создания заявки:</td>
                    <td>Тема:</td>
                    <td>Электронно цифрова подпись:</td>
                    <td>Коментарии:</td>
                    <td>Касса</td>
                    <td>Дата закрытия заявки</td>
                </tr>
                <tr th:each="request : ${user.requests}">
                    <td>
                        <a th:href="'/clients/' + ${user.id} + '/request/' + ${request.id}">
                            <span th:text="${request.dateOfCreated}"></span>
                        </a>
                        <form method="post" th:action="'/clients/' + ${clientid} + '/request/' + ${request.id} + '/delete/'">
                            <input type="submit" value="Удалть заявку">
                        </form>
                    </td>
                    <td>
                        <p th:text="${request.topic}"></p>
                    </td>
                    <td th:text="${request.etsp}"></td>
                    <td >
                        <div th:each="comment : ${request.comments}">
                            <span th:text="${comment.text}"></span>
                        </div>
                    </td>
                    <td>
                        <div th:if="${request.product} != null">
                            <a th:href="'/clients/' + ${request.client.id} + '/product/' + ${request.product.id}">
                                <span th:text="${request.product.description.name}"></span>
                            </a>
                        </div>
<!--                        <div th:if="${request.product} == null">-->
<!--                            <a th:href="'/clients/' + ${user.id} + '/request/' + ${request.id}">-->
<!--                                <span>Добавить кассу</span></a>-->
<!--                        </div>-->
                    </td>

                </tr>
            </table>
            <form method="get" th:action="'/clients/' + ${user.id} + '/request'">
                <input type="submit" value="Создать заявку">
            </form>
        </div>

    </div>
</div>

<script type="text/javascript" src="/javascript/js/hidden.js"></script>

</body>
</html>