<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="'/store/' + ${store.id}">
    <input type="hidden" name="id" th:value="${store.id}">
    Имя: <input type="text"name="name" th:value="${store.name}">
    Ссылка: <input type="text" name="link" th:value="${store.link}">
    Логин: <input type="text" name="login" th:value="${store.login}">
    Пароль: <input type="text" name="password" th:value="${store.password}">
    Доп информация: <input type="text" name="description" th:value="${store.description}">
    <input type="submit" value="Добавить" >
</form>

</body>
</html>