<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/index.css">
    <title>Title</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="head">
    <div class="button">
        <a class="button__link" href="/store/add">Добавить новую запись</a>
    </div>
</div>



<div class="table__center">
    <div class="table__center__inner">
        <table border="1">
            <tr>
                <td>
                    <p>Имя</p>
                </td>
                <td>
                    <p>Ссылка</p>
                </td>
                <td>
                    <p>Логин</p>
                </td>
                <td>
                    <p>Пароль</p>
                </td>
                <td>
                    <p>Доп информация</p>
                </td>
            </tr>
            <tr th:each="store : ${stores}">
                <td>
                    <a th:href="'/store/' + ${store.id}">
                        <span th:text="${store.name}"></span>
                    </a>
                </td>
                <td>
                    <p th:text="${store.link}"></p>
                </td>
                <td>
                    <p th:text="${store.login}"></p>
                </td>
                <td>
                    <p th:text="${store.password}"></p>
                </td>
                <td>
                    <p th:text="${store.description}"></p>
                </td>
            </tr>
        </table>
    </div>
</div>


</body>
</html>