<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/index.css">
    <title>Title</title>
</head>
<body>
    <div th:insert="~{fragments/menu :: #nav-menu}"></div>

        <table border="1">
            <tr>
                <td>ОФД</td>
                <td>ФН</td>
                <td>Техосблуживание</td>
            </tr>
            <tr>
                <td >
                    <div th:each="ofd : ${ofds}">
                        <a th:href="'/clients/' + ${ofd.product.user.id} + '/product/' + ${ofd.product.id}">
                            <span th:text="${ofd.product.user.requisite.organization.name} + ' ' + ${ofd.product.user.name} + ' ' + ${ofd.product.description.name} + ' ' + ${ofd.dayEnd}"></span>
                        </a>
                    </div>
                </td>
                <td >
                    <div th:each="fn : ${fns}">
                        <a th:href="'/clients/' + ${fn.product.user.id} + '/product/' + ${fn.product.id}">
                            <span th:text="${fn.product.user.requisite.organization.name} + ' ' + ${fn.product.user.name} + ' ' + ${fn.product.description.name} + ' ' + ${fn.dayEnd}"></span>
                        </a>
                    </div>
                </td>
                <td >
                    <div th:each="maintenance : ${maintenances}">
                        <a th:href="'/clients/' + ${maintenance.product.user.id} + '/product/' + ${maintenance.product.id}">
                            <span th:text="${maintenance.product.user.requisite.organization.name} + ' ' + ${maintenance.product.user.name} + ' ' + ${maintenance.product.description.name} + ' ' + ${maintenance.dayEnd}"></span>
                        </a>
                    </div>
                </td>
            </tr>
        </table>

    </div>


</body>
</html>