<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/styles/css/product.css">
</head>
<body>
<div class="wrapper">
    <div class="one">
        <p>Собственник: <span th:text="${product.user.name} + ' ' + ${product.user.lastName}"></span></p>
        <p>Название: <span th:text="${product.description.name}"></span></p>
        <p>Описание: <span th:text="${product.description.someDescription}"></span></p>
        <p>Заводской номер: <span th:text="${product.number}"></span></p>
        <p>Адрес: <span th:text="${product.address}"></span></p>
        <form th:action="'/clients/'+ ${product.user.id} + '/product/' + ${product.id} + '/edit'" method="get">
            <button type="submit">Редактировать</button>
        </form>
        <form th:action="'/clients/'+ ${product.user.id} + '/product/' + ${product.id} + '/changeclient'" method="get">
            <button type="submit">Сменить собственника</button>
        </form>    </div>

    <div class="two">
        <div th:if="${product.maintenance} != null">
            <p>Тех обслуживание</p>
            <p>Дата начала: <span th:text="${product.maintenance.dateStart}"></span></p>
            <p>Дата окончания: <span th:text="${product.maintenance.dayEnd}"></span></p>
            <p>Тариф: <span th:text="${product.maintenance.name}"></span></p>

                <div th:each="trip : ${product.maintenance.trips}">
                    <span>Поездка номер: </span>
                    <a th:href="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/maintenance/' + ${product.maintenance.id}+ '/trip/' + ${trip.id}"><span th:text="${trip.name}"></span></a>
                    <span th:if="${trip.dateTrip} != null">Дата: <span th:text="${trip.dateTrip}"></span></span>
                </div>
            <br>
            <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/maintenance/' + ${product.maintenance.id} + '/edit'">
                <button type="submit">Редактировать техобслуживание</button>
            </form>
            <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/maintenance/' + ${product.maintenance.id} + '/edit/tariff'">
                <button type="submit">Изменить тариф тех обслуживания</button>
            </form>
            <form method="post" th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/maintenance/' + ${product.maintenance.id} + '/delete'">
                <button type="submit">Удалить</button>
            </form>

        </div>
        <div th:if="${product.maintenance} == null">
            <p>Тех обслуживание</p>
            <p>Дата начала: </p>
            <p>Дата окончания: </p>
            <p>Тариф: </p>
            <p>Срок: </p>
            <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/maintenance'">
                <button type="submit"> Создать тех обслуживание</button>
            </form>
        </div>
    </div>

    <div class="three">
        <div th:if="${product.ofd} != null">
            <p>ОФД</p>
            <p>Логин: <span th:text="${product.ofd.contact}"></span></p>
            <p>Пароль: <span th:text="${product.ofd.pass}"></span></p>
            <p>Дата начала: <span th:text="${product.ofd.dateStart}"></span></p>
            <p>Дата окончания: <span th:text="${product.ofd.dayEnd}"></span></p>
            <p th:if="${product.ofd.tariff} != null">Тариф: <span th:text="${product.ofd.tariff.days}"></span></p>
            <p th:if="${product.ofd.operator} != null">Оператор: <span th:text="${product.ofd.operator.name}"></span></p>
            <form th:action="'/clients/'+ ${product.user.id} + '/product/' + ${product.id} + '/ofd/' + ${product.ofd.id} + '/edit'" method="get">
                <button type="submit">Редактировать ОФД</button>
            </form>
            <form th:action="'/clients/'+ ${product.user.id} + '/product/' + ${product.id} + '/ofd/' + ${product.ofd.id} + '/delete'" method="post">
                <button type="submit">Удалить ОФД</button>
            </form>
        </div>
        <div th:if="${product.ofd} == null">
            <p>ОФД</p>
            <p>Логин: </p>
            <p>Пароль: </p>
            <p>Дата начала: </p>
            <p>Дата окончания: </p>
            <p>Тариф: </p>
            <p>Оператор: </p>
            <form th:action="'/clients/'+ ${product.user.id} + '/product/' + ${product.id} + '/ofd'" method="get">
                <button type="submit">Добавить ОФД</button>
            </form>
        </div>
    </div>

    <div class="four">
        <div th:if="${product.lk} != null">
            <p>Личный кабинет</p>
            <p>Логин: <span th:text="${product.lk.contact}"></span></p>
            <p>Пароль: <span th:text="${product.lk.pass}"></span></p>
            <p>Код администратора: <span th:text="${product.lk.codeAdministrator}"></span></p>
            <p>Электронная почта: <span th:text="${product.lk.linkAddress}"></span></p>
            <form th:action="'/clients/'+ ${product.user.id} + '/product/' + ${product.id} + '/lk/' + ${product.lk.id} + '/edit'" method="get">
                <button type="submit">Редактировать личный кабинет</button>
            </form>
            <form th:action="'/clients/'+ ${product.user.id} + '/product/' + ${product.id} + '/lk/' + ${product.lk.id} + '/delete'" method="post">
                <button type="submit">Удалить личный кабинет</button>
            </form>
        </div>
        <div th:if="${product.lk} == null">
            <p>Личный кабинет</p>
            <p>Логин: </p>
            <p>Пароль: </p>
            <p>Код администратора: </p>
            <p>Электронная почта: </p>
            <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/lk'" method="get">
                <button type="submit">Добавить личный кабинет</button>
            </form>
        </div>
    </div>

    <div class="five">
        <div th:if="${product.fn} != null">
            <p>ФН</p>
            <p>Дата начала: <span th:text="${product.fn.dateStart}"></span></p>
            <p>Дата окончания: <span th:text="${product.fn.dayEnd}"></span></p>
            <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/fn/' + ${product.fn.id} + '/edit'">
                <button type="submit">Редактировать ФН</button>
            </form>
            <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/fn/' + ${product.fn.id} + '/delete'" method="post">
                <button type="submit">Удалить ФН</button>
            </form>
        </div>
        <div th:if="${product.fn} == null">
            <p>ФН</p>
            <p>Дата начала: </p>
            <p>Дата окончания: </p>
            <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/fn'" method="get">
                <button type="submit">Добавить ФН</button>
            </form>
        </div>
    </div>

    <div class="six">
        <div class="six-one">
            <div th:if="${product.internet} != null">
                <p >Интернет: </p>
                <p th:text="${product.internet.name}"></p>
                <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/internet/' + ${product.internet.id} + '/delete'" method="post">
                    <input type="submit" value="Удалить">
                </form>
                <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/internet/' + ${product.internet.id} + '/edit'" method="get">
                    <input type="submit" value="Редактировать">
                </form>
            </div>
            <div th:if="${product.internet} == null">
                <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/internet'" method="get" th:object="${product}">
                    <input type="submit" value="Добавить нтернет">
                </form>
            </div>
        </div>
        <div class="six-two">
            <div th:if="${product.typeOfActivity} != null">
                <div>
                  <p>Вид деятельности:</p>
                  <p th:text="${product.typeOfActivity.name}"></p>
                </div>
                <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/typeOfActivity/' + ${product.typeOfActivity.id} + '/delete'" method="post">
                    <input type="submit" value="Удалить">
                </form>
                <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/typeOfActivity/' + ${product.typeOfActivity.id} + '/edit'">
                    <input type="submit" value="Редактировать">
                </form>
            </div>
            <div th:if="${product.typeOfActivity} == null">
                <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/typeofactivity'">
                    <input type="submit" value="Добавить вид деятельности">
                </form>
            </div>
        </div>
        <div class="six-three">
            <div th:if="${product.taxation} != null">
                <div>
                    <p>Налогооблажение:</p>
                    <p th:text="${product.taxation.name}"></p>
                </div>
                <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/taxation/' + ${product.taxation.id} + '/delete'" method="post">
                    <input type="submit" value="Удалить">
                </form>
                <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/taxation/' + ${product.taxation.id} + '/edit'">
                    <input type="submit" value="Редактировать">
                </form>
            </div>
            <div th:if="${product.taxation} == null">
                <form th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/taxation'">
                    <input type="submit" value="Добавить налогооблажение">
                </form>
            </div>
        </div>
        <div class="six-four">
            <p>НДС</p>
            <div th:if="${product.vat} == null">
                <form method="post" th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/addvat'">
                    <input type="submit" value="Добавить НДС">
                </form>
            </div>
            <div th:if="${product.vat} != null">
                <p th:text="${product.vat}"></p>
                <form method="post" th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/deletevat'">
                    <input type="submit" value="Удалить НДС">
                </form>
            </div>
        </div>
        <div class="six-five">
            <p>Акцизы</p>
            <div th:if="${product.excise} == null">
                <form method="post" th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/addexcise'">
                    <input type="submit" value="Добавить акцизы">
                </form>
            </div>
            <div th:if="${product.excise} != null">
                <p th:text="${product.excise}"></p>
                <form method="post" th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/deleteexcise'">
                    <input type="submit" value="Удалить акцизы">
                </form>
            </div>
        </div>
        <div class="six-six">
            <p>Егаис</p>
            <div th:if="${product.egais} == null">
                <form method="post" th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/addegais'">
                    <input type="submit" value="Добавить егаис">
                </form>
            </div>
            <div th:if="${product.egais} != null">
                <p th:text="${product.egais}"></p>
                <form method="post" th:action="'/clients/' + ${product.user.id} + '/product/' + ${product.id} + '/deleteegais'">
                    <input type="submit" value="Удалить егаис">
                </form>
            </div>
        </div>

    </div>

</div>
</body>
</html>