<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/index.css">
    <title>Задачи</title>
</head>
<body>
    <div th:insert="~{fragments/menu :: #nav-menu}"></div>
    <div>
        <form method="get" action="/tasks/create">
            <input type="submit" value="Создать задачу">
        </form>
    </div>
    <div>
        <table border="1">
            <tr>
                <td>Дата создания</td>
                <td>Тема</td>
                <td>Описание</td>
                <td>Коментарии</td>
                <td>Дата напоминания</td>
                <td>Дата окончания</td>
            </tr>
            <tr th:each="task : ${tasks}">
                <td>
                    <p th:text="${task.dateOfCreated}"></p>
                </td>
                <td>
                    <a th:href="'/tasks/' + ${task.id}">
                        <span th:text="${task.name}"></span>
                    </a>
                </td>
                <td>
                    <p th:text="${task.description}"></p>
                </td>
                <td>
                    <div th:each="comment : ${task.comments}">
                        <p th:text="${comment.text}"></p>
                    </div>
                </td>
                <td>
                    <p th:text="${task.dateOfReminder}"></p>
                </td>
                <td>
                    <p th:text="${task.dateOfEnd}"></p>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>